

html {
  color: #222;
  font-size: 62.5%;
  line-height: 1.4;
  width: 1155px;
  margin: auto;
  max-width: 100%;
}

* .background_layer {
	background-color: #f2e2ce;
}

.logo {
  max-width: 100%;
}


navigation {
  display: flex;
  max-width: 100%;
}

.container, .row, .header_block {
	color: #3F043C;
	vertical-align: top;
	width: 100%;
	height: 271px;
	z-index: 1;
}

.footer_block {
  background-color: #3F043C;
  position: absolute;
  left: -19px;
  top: 2723px;
  width: 100%;
  height: 526px;
  z-index: 4;
}

/* End Geeral Styles */

/* link for FONT STYLE "Poppins" */
/*  <link rel="stylesheet" href="https://use.typekit.net/lik1cfq.css">  */


/* LOGO Head */
.row {
	align-content: center;
	background-color: #3F043C;
	max-width: 100%;
	top: -28px;
	max-height: 256px;
}

 #logo {
	display: flex;
	flex: auto;
	vertical-align: middle;
	padding-top: 15px;
	width: 509px;
	height: 239px;
	
}

/* END Logo Head */


/* BEGIN  Active Navigation */


.contact_ {
  margin-left: 6%;
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 739.672px;
  top: 130.563px;
  width: 5%;
  height: 28px;
  z-index: 28;
}

.about_ {
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: middle;
  position: absolute;
  left: 731.611px;
  top: 130.817px;
  width: 5%;
  height: 29px;
  z-index: 26;
	 
}
.home_ {
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 650.42px;
  top: 130.259px;
  width: 5%;
  height: 28px;
  z-index: 20;
}

a:hover {
	color: #c7720f;
}

/* END Active Navigation */



/* BEGIN Head Log In / Sign Up */

.butn{
  
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 60;
}
.sign {
  font-size: 48px;
  font-family: "Poppins";
  color: rgb(124, 141, 106);
  line-height: 1.2;
  position: absolute;
  left: 1033.98px;
  width: 183px;
  height: 16%;
  z-index: 59;
}

.log {
  text-decoration: none;
  font-size: 48px;
  font-family: "Poppins";
  color: rgb(216, 85, 5);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1047.98px;
  top: 15%;
  width: 139px;
  height: 48px;
  z-index: 58;
}


/* END Head Log In / Sign Up */



/* BEGIN Hero Image and Background */

#heroImage {	
	max-width: 1140px;
	margin-top: -1.5%;
}


#bannerImage {
  left: 0px;
  top: 0px;
  max-width: 1140px;
  width: 100%;
  height: 250px;
  
}


 


/* END Hero Image and Background */





/* Begin Recipe Cards */

/* 1st photo recipe box */

._1st_box__L_R_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 10;
}
.pasta {
  background-image: url("pasta.png");
  position: absolute;
  left: 71px;
  top: 1607px;
  width: 436px;
  height: 350px;
  z-index: 9;
}
._1st_Red_ {
  background-image: url("1st Red .png");
  position: absolute;
  left: 54px;
  top: 1982px;
  width: 469px;
  height: 312px;
  z-index: 8;
}
._1st_Purple {
  border-radius: 10px;
  background-color: rgb(63, 4, 60);
  position: absolute;
  left: 53px;
  top: 1570px;
  width: 470px;
  height: 451px;
  z-index: 7;
}


/* 2nd photo recipe box */

._2nd_box__L_R_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 15;
}
.Chile {
  background-image: url("Chile.png");
  position: absolute;
  left: 771px;
  top: 1607px;
  width: 433px;
  height: 351px;
  z-index: 14;
}
.Red_2 {
  background-image: url("Red-2.png");
  position: absolute;
  left: 750px;
  top: 1984px;
  width: 469px;
  height: 310px;
  z-index: 13;
}
.Purple_2 {
  border-radius: 10px;
  background-color: rgb(63, 4, 60);
  position: absolute;
  left: 750px;
  top: 1570px;
  width: 470px;
  height: 450px;
  z-index: 12;
}


/* 3rd photo recipe box */

._3rd_box__L_R_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 23;
}
.waffles {
  background-image: url("waffles.png");
  position: absolute;
  left: 1466px;
  top: 1612px;
  width: 431px;
  height: 341px;
  z-index: 22;
}
._Secret_Family_Receipes___Please_CLICK_this_LIN {
  font-size: 30px;
  font-family: "Poppins";
  color: rgb(254, 253, 253);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 76.445px;
  top: 1979.06px;
  width: 412px;
  height: 240px;
  z-index: 21;
}
._Secret_Family_Receipes___Please_CLICK_this_LIN {
  font-size: 30px;
  font-family: "Poppins";
  color: rgb(254, 253, 253);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 764.445px;
  top: 1981.06px;
  width: 412px;
  height: 240px;
  z-index: 20;
}
._Secret_Family_Receipes___Please_CLICK_this_LIN {
  font-size: 30px;
  font-family: "Poppins";
  color: rgb(254, 253, 253);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1466.445px;
  top: 1981.06px;
  width: 412px;
  height: 240px;
  z-index: 19;
}
.red_3 {
  background-image: url("red-3.png");
  position: absolute;
  left: 1447px;
  top: 1984px;
  width: 469px;
  height: 310px;
  z-index: 18;
}
.purple_3 {
  border-radius: 10px;
  background-color: rgb(63, 4, 60);
  position: absolute;
  left: 1446px;
  top: 1573px;
  width: 470px;
  height: 449px;
  z-index: 17;
}

/* End Recipe Cards */




/* FOOTER */


/* BEGIN FOOTER Information */

.Footer_Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3240px;
  z-index: 59;
}


.©_2019_Secret_Family_Recipes {
  font-size: 24px;
  font-family: "Poppins";
  color: rgb(124, 141, 106);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 707.797px;
  top: 3171.41px;
  width: 363px;
  height: 26px;
  z-index: 58;
}
.E_MAIL_:_info_secretfamilyrecipes_com__™_Secret {
  font-size: 30px;
  font-family: "Poppins";
  color: rgb(216, 85, 5);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 775.949px;
  top: 3019.21px;
  width: 600px;
  height: 130px;
  z-index: 57;
}


.Secret_Family_Recipes_1054_Somewhere_Street_Who {
  font-size: 30px;
  font-family: "Poppins";
  color: rgb(216, 85, 5);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1462.351px;
  top: 3026.06px;
  width: 377px;
  height: 169px;
  z-index: 56;
}




/* BEGIN FOOTER LOGO */

.Logo_Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 56;
}
.Family__copy {
  font-size: 48px;
  font-family: "Poppins";
  color: rgb(216, 85, 5);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 931.634px;
  top: 2734.299px;
  width: 156px;
  height: 50px;
  z-index: 55;
}

.Secret_copy {
  font-size: 48px;
  font-family: "Poppins";
  color: rgb(124, 141, 106);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 910.128px;
  top: 2690.139px;
  width: 155px;
  height: 35px;
  z-index: 54;
}

.logo_footer {
  background-image: url("logo footer.png");
  position: absolute;
  left: 723px;
  top: 2694px;
  width: 315px;
  height: 230px;
  z-index: 53;
}


/* END FOOTER LOGO */ 


/* BEGIN Leaf stem */

.Leaf {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3240px;
  z-index: 65;
}
.Leaf {
  background-image: url("Leaf.png");
  position: absolute;
  left: 296px;
  top: 2379px;
  width: 1652px;
  height: 546px;
  z-index: 64;
}



/* END Leaf stem */



/* BEGIN Footer Navigation */

.Footer_Navigation {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3000px;
  z-index: 46;
}
.Contact__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1757.672px;
  top: 2697.563px;
  width: 157px;
  height: 28px;
  z-index: 45;
}
.Blog__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1572.804px;
  top: 2697.817px;
  width: 80px;
  height: 39px;
  z-index: 44;
}

.About__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1392.611px;
  top: 2697.817px;
  width: 115px;
  height: 29px;
  z-index: 43;
}

.Home__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1209.42px;
  top: 2697.259px;
  width: 112px;
  height: 28px;
  z-index: 42;
}


/* END Footer Navigation */



/* BEGIN Footer Hover Navigation */


.Footer_Navigation {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1980px;
  height: 3240px;
  z-index: 54;
}


.Contact__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1322.672px;
  top: 2803.563px;
  width: 157px;
  height: 28px;
  z-index: 53;
}


.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 292px;
  top: 2376px;
  width: 1440px;
  height: 597px;
  z-index: 52;
}


.Layer_1 {
  background-image: url("Layer 1.png");
  position: absolute;
  left: 1686px;
  top: 2734px;
  width: 262px;
  height: 225px;
  z-index: 51;
}


.Blog__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1137.804px;
  top: 2803.817px;
  width: 80px;
  height: 39px;
  z-index: 50;
}


.About__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 957.611px;
  top: 2803.817px;
  width: 115px;
  height: 29px;
  z-index: 49;
}


.Home__copy {
  font-size: 38px;
  font-family: "Poppins";
  color: rgb(142, 198, 63);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 774.42px;
  top: 2803.259px;
  width: 112px;
  height: 28px;
  z-index: 48;
}


/* END Footer Hover Navigation */



/* END FOOTER INFORMATION */


/* @media queries */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}



